@tailwind base;
@tailwind components;
@tailwind utilities;

/* Syntax highlighting styles */
pre {
  padding: 1rem;
  overflow: auto;
  font-family: "Space Mono" monospace;
  /*@apply text-sm -mx-16 my-8 ;*/
  @apply text-sm my-8;
}
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

h1 {
  @apply text-4xl mt-8 mb-2;
}
h2 {
  @apply text-3xl mt-6 mb-2;
}
h3 {
  @apply text-2xl mt-5 mb-2;
}
h4 {
  @apply text-xl mt-3 mb-2;
}
h5 {
  @apply text-lg my-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}
.font-fancy {
  font-family: "Work Sans", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* inline code styles */
.markdown-content p code {
  @apply text-sm px-1 py-px text-orange-200 bg-orange-500 bg-opacity-20;
}

.markdown-content {
  @apply mt-8;
}
.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  @apply text-teal-100;
}

.markdown-content ol,
.markdown-content ul {
  @apply p-4;
}
.markdown-content ul li {
  @apply list-disc;
}
.markdown-content ol li {
  @apply list-decimal;
}
.markdown-content li {
  @apply text-xl;
}
.markdown-content p {
  @apply text-xl mb-4;
}

.link {
  @apply underline text-orange-200;
}
.markdown-content a {
  @apply underline text-orange-200;
}

.markdown-content blockquote {
  @apply p-4 bg-zinc-800 border-l-4 border-orange-200 rounded mb-4 inline-block;
}

.markdown-content blockquote p {
  @apply text-base text-orange-200;
}

.markdown-content blockquote p:last-child {
  @apply mb-0;
}
