<script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js">
</script>

<div class="flex justify-center items-center h-screen flex-col space-y-8 bg-zinc-800">
  <h2 class="text-4xl font-bold text-zinc-300">Choose your weapon</h2>
  <div id="choices" class="flex space-x-4"></div>
  <div id="message" class="flex space-x-4"></div>
</div>

<script src={~p"/assets/js/rpsb.js"}>
</script>
