<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ .Site.Params.favicon | relURL }}" type="image/png">
        <link rel="icon" href="{{ .Site.Params.favicon | relURL }}" type="image/png">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta charset="utf-8">

        <title>{{ .Site.Title }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ "output.css" | relURL }}" />

        <script async src="https://rum.cronitor.io/script.js"></script>
        <script>
window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
cronitor('config', { clientKey: '90e41c2012125c46121a852d0e3af6e1' });
        </script>
        <script src="{{ "paintWorklet.js" | relURL }}"></script>
        <script src="{{ "output.js" | relURL }}"></script>
    </head>

    <body class=" painted bg-zinc-900 text-zinc-50 flex flex-col min-h-screen">
        <header class="py-4 ">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="mx-auto max-w-2xl flex justify-between">
                    <div>
                        <a href="/" class="flex items-center space-x-3 ">
                            <img class="w-6 block rounded-full" src="{{ .Site.Params.favicon | relURL }}" />
                            <span class="font-fancy ">danbruder</span>
                        </a>
                    </div>
                    <div>
                        <a href="/blog/about" class="group relative">
                          <span class="inline-block delay-100 group-hover:animate-wave  ease-in-out ">👋🏻</span>
                          <span class="font-fancy text-sm ">about me</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="flex-grow">
            {{ block "main" . }}{{ end }}
        </div>

        <footer class="mt-24">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="mx-auto max-w-2xl ">
                    <div class="flex justify-between items-center text-sm py-6">
                        <div class="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
