html {
  font-family: 'IBM Plex Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Green: #01a982 */
/* Secondary Green: #049371 */

.primary,
.green {
  color: #01a982;
}

.secondary,
.green2 {
  color: #049371;
}

.bg-light-gray {
  background: #f8f8f8;
}
