html {
  font-family: 'IBM Plex Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Green: #01a982 */
/* Secondary Green: #049371 */

.primary,
.hover-green:hover,
.green {
  color: #01a982;
}

a {
  color: #01a982;
}

.secondary,
.green2 {
  color: #049371;
}

.bg-light-gray {
  background: #f8f8f8;
}

.zoom {
  transform: perspective(500px) translateZ(42px);
}

.blog-body img {
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
}
