{% extends "base.html" %}

{% block content %}

    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-3xl">
            <h1 class="text-3xl md:text-5xl text-sky-200 ">
                {{ page.title }}
            </h1>
            <span class="text-gray-500 font-bold flex items-center space-x-3">
                <div class="">{{page.date | date(format="%B %e, %Y")}}</div>
            </span>
            <div class="markdown-content">
                {{ page.content | safe }}
            </div>


            <form
                    action="https://buttondown.email/api/emails/embed-subscribe/danbruder"
                    method="post"
                    target="popupwindow"
                    onsubmit="window.open('https://buttondown.email/danbruder', 'popupwindow')"
                    class="embeddable-buttondown-form bg-zinc-800 rounded p-4 mt-24"
                    >
                    <label for="bd-email" class="block pb-2">Be the <span class="bold text-sky-300">VERY FIRST</span> person to sign up for my newsletter. As the first subscriber, I'll write something <span class=""> great</span> just for you.</label>
                    <input type="email" class="bg-zinc-700 text-zinc-100 rounded my-2" placeholder="email" name="email" id="bd-email" />
                    <input type="submit" class="bg-sky-900 text-sky-400 p-2 rounded border border-sky-900 bg-opacity-50" value="Subscribe" />
            </form>


        </div>
    </div>
{% endblock content %}
