{% extends "base.html" %}

{% block content %}
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl">
            <div class="text-center py-12 md:py-24">
                <h1 class="md:text-6xl text-sky-200">Hi, I'm Dan</h1>
                <span class="text-xl text-stone-200">I'm an engineering director working on <br/>making <a class="link" href="https://www.dronedeploy.com/">reality capture</a> easy</span>
            </div>
            <h4 class="text-lg md:text-xl text-gray-500">Latest Posts</h4>
            {% set blog_section = get_section(path="blog/_index.md") %}
            {% for blog in blog_section.pages  %}
                <h2 class="text-xl md:text-3xl text-sky-200">
                    <a href="{{blog.permalink}}">
                        {{blog.title}}
                    </a>
                </h2>
                <label>{{blog.date | date(format="%B %e, %Y")}}</label>
            {% endfor %}
        </div>
    </div>
{% endblock content-%}

