  <script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"></script>

  <div class="flex justify-center items-center h-screen flex-col space-y-8 bg-zinc-800">
    <h2 class="text-4xl font-bold text-zinc-300">Choose your weapon</h2>
    <div id="choices" class="flex space-x-4"> </div>
    <div id="message" class="flex space-x-4"> </div>
  </div>

  <script>

var choices = ['rock', 'paper', 'scissors', 'boat'];

function getComputerChoice() {
  var randomIndex = Math.floor(Math.random() * choices.length);
  return choices[randomIndex];
}

function runGame(choice) {
  var computerChoice = getComputerChoice();
  console.log('You chose', choice);
  console.log('Computer chose', computerChoice);

  if (choice === computerChoice ||
      (choice === 'rock' && computerChoice === 'boat') ||
      (choice === 'boat' && computerChoice === 'rock')
     ) {
    return `It\'s a tie! Computer chose ${computerChoice}`;
  } else if (choice === 'rock' && computerChoice === 'scissors' ||
    choice === 'paper' && computerChoice === 'rock' ||
    choice === 'boat' && computerChoice === 'paper' ||
    choice === 'scissors' && computerChoice === 'boat' ||
    choice === 'scissors' && computerChoice === 'paper') {
    return `You win! Computer chose ${computerChoice}`;
  } else {
    return `You lose! Computer chose ${computerChoice}`;
  }
}

let messageTimeout;
choices.forEach(function(choice) {
  var el = document.createElement('div');
  el.classList.add('bg-zinc-600', 'rounded', 'shadow');
  el.innerHTML = '<div class="flex cursor-pointer justify-between items-center py-2 px-3"><div class="text-white font-bold text-2xl">' + choice + '</div></div>';

  rxjs.fromEvent(el, 'click').subscribe(function() {
    var message = runGame(choice);
    var messageEl = document.getElementById('message');
    messageEl.innerHTML = '<div class="font-bold text-2xl">' + message + '</div>';

    if (messageTimeout) {
      clearTimeout(messageTimeout);
    }
    messageTimeout = setTimeout(function() {
      messageEl.innerHTML = '';
    }, 3000);
  });

  var container = document.getElementById('choices');
  container.appendChild(el);
})


  </script>
