<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.3.0/rxjs.umd.js"></script>

<div class="flex justify-center my-12">
  <canvas id="gameCanvas" class="snake bg-zinc-800" width="400" height="400"></canvas>
</div>

  <div class="flex justify-center items-center space-x-4">
    <button id="btn-left" class="bg-gray-700 uppercase px-3 py-2">Left</button>
    <button id="btn-up" class="bg-gray-700 uppercase px-3 py-2">Up</button>
    <button id="btn-down" class="bg-gray-700 uppercase px-3 py-2">Down</button>
    <button id="btn-right" class="bg-gray-700 uppercase px-3 py-2">Right</button>
  </div>
<script src="/snake.js"></script>
